# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CL\ds1302 and oled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
